@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* {
    font-family: 'Open sans'
}

$base-color: #2a2d36;
$secondary-color: #0b0c10;
$complementary-color: #15161a;

