@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* {
    font-family: 'Open sans';
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

$base-color: #2a2d36;
$secondary-color: #0b0c10;
$complimentary-color: #15161a;

body {
    background-color: $base-color;
}

header {
    position: sticky;
    left: 0;
    top: 0;
    background-color: $secondary-color;
    color: white;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    width: 100vw;
    height: 10rem;
    font-size: 3rem;
    text-align:right;
    padding: .5rem 3rem;

    .icon-wrapper {
        transition: .25s ease-out;
        align-self: center;
        background-color: #303030;
        width: 7rem;
        height: 7rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            filter: invert(1);
            height: 70%;
            margin: auto;
        }

    }

    .icon-wrapper:hover {
        background-color: #E78301;
        
        cursor:pointer;
    }
    
    div {
        align-self: center;
    }
   
}


footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 5rem;
    background-color: $complimentary-color;
    color: white;
    height: 8rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: .5rem 3rem;
    flex-grow: 1;
    z-index: 2;
    

    align-items: center;
    .css-logo-wrapper {
        font-size: 1.25rem;
        height: 6rem;
        
        transition: .5s ease;
        opacity: .3;

        @keyframes spin {
            from { transform: rotate(0deg);
            }
            to { transform: rotate(180deg);
            }
          }
          
        .css-logo-border {
            position: absolute;
            border: 1px solid white;
            height: 6rem;
            width: 5rem;
    
        }


        .css-logo-border:hover {
            
            cursor:pointer;
            border: 1px solid #E78301;
            animation: spin .5s linear;
        }
        .css-logo {
            margin: 5px;
        }
    }

    .css-logo-wrapper:hover {
        opacity: 1;
    }

    .nabthat-logo {
        opacity: .3;
        text-align: center;
    }

    .nabthat-logo::before {
        display: inline-block;
        position: relative;
        width: 30px;
        border: 1px solid gray;
        content: "";
        transform: translateY(-250%);
        margin-right: 5px;
    }
    .nabthat-logo::after {
        display: inline-block;
        position: relative;
        width: 30px;
        border: 1px solid gray;
        content: "";
        transform: translateY(-250%);
        margin-left: 5px;
    }

    div {
        width: 33%;
    }

    .list-wrapper {
        // position: relative;
        background-color: $complimentary-color;
        display: flex;
        flex-direction: column;
        align-items: end;
        text-align: center;
        label {
            width: 20rem;
            height: 3rem;
            font-weight: bold;
            background: transparent;
            border: 1px solid #A3A8B5;
            border-radius: 3px;
            color: #A3A8B5;
            font-size: 20px;
            position: relative;
            z-index: 6;
        }

        label#text {
            width: 20rem;
            height: 3rem;
        }
        label:hover {
            
            cursor:pointer;
        }

        label::after {
            display: inline-block;
            content: "‸";
     
        }

        input {
            display: none;
        }

        .sigma {
            position: absolute;
            z-index: 5;
            top: 0;
            height: 100%;
            background-color: $complimentary-color;
        }

        ul {
            z-index: -1;
            // display: none;
            position: absolute;
            width: 20rem;
            height: 5rem; 
            background-color: white;
            list-style: none;
            color: black;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: start;
            padding: 1rem;
            font-size: 15px;
            font-weight: bold;
            top: 0;
            transition: 1s ease;
            transform: translateY(0%);

        }

        input:checked ~ ul {
            // display: flex !important;
            transform: translateY(-100%);

        }

        li:hover {
            color: #E78301;
            transition: .5s ease;
            cursor:pointer;
        }

        li::before {
            display: inline-block;
            content: "‸";
        }
    }
}




main {
    background-color: $base-color;
    width: 100vw;
    margin-top: 10rem;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 0;
    margin-bottom: 10rem;
    padding: 0 2rem;

    h1 {
        font-weight: normal;
        font-size: 3rem;
        hr {
            width: 80%;
            margin: 15px auto;
        }
    }

    .section-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 6rem;
        section {
            width: 30vw;
            align-items: center;
            text-align: center;

            h2 {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
        }

        .section-left {
            form {
                display: flex;
                flex-direction: column;
                padding: 5rem;
                align-items: start;;

                span {
                    margin-bottom: 2rem;
                    font-size: 2rem;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;

                    input[type="radio"] {
                        appearance: none;
                        position: relative;
                        border: 3px solid white;
                        width: 2rem;
                        height: 2rem;
                        border-radius: 1rem;
                        margin-right: 1.5rem;
                    }
                    
                    input[type="radio"]:checked::after {
                        display: block;
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        
                        content: "";
                        background-color: white;
                        width: 1rem;
                        height: 1rem;
                    
                        border-radius: .5rem;
                    }
        

                    input[type="radio"]:checked ~ label {
                        font-weight: bold;
                    }
                }

            };

            
        }

        .section-mid {
            div {

                display: flex;
                flex-direction: row;
                justify-content:center;
                gap: 2rem;
                margin-top: 2rem;

                button {
                    height: 3rem;
                    width: 10rem;
                    background: transparent;
                    color: gray;
                    border: 1px solid gray;
                    font-weight: bold;
                    transition: .5s ease;
                    position: relative;
                    z-index: 1;

                }

                button:hover {
                    color: white;
                    border: 1px solid white;
                    
                    cursor:pointer;
                }

                button::before {
                    display: block;
                    content: "";
                    z-index: -1;
                    background: linear-gradient(90deg, rgba(205,116,0,1) 0%, rgba(254,158,35,1) 53%, rgba(254,158,35,1) 100%);
                    opacity: 0;
                    width:100%;
                    height: 100%;
                    left: 0;
                    top: 0;
                    position: absolute;
                    transition: .5s ease;

                }

                button:hover::before {
                    opacity: 1;
                }
            }

        }

        .section-right {
            div {
                margin-top: 2rem;
            }
        }
    }
    

}
